* {
    margin: 0
}

/* CSS to style document elements */

nav a h2,
nav a h3 {
    color: white;
}

h4 {
    text-align: center;
}

main {
    margin: 50px 20px;
}

main ul {
    list-style: none;
    display: flex;
    justify-content:start;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
    color: green;
}

a {
    color: green;
}

main img {
    min-height: 297px;
}

footer {
    height: 90px;
    background-color: black;
    color: white;
    text-align: center;
}

footer p {
    padding: 30px;
}


/* Style Document Classes */

.navbar {
    background-image: url(../images/project\ image\ 4.jpg);
}

.section-title {
    display: block;
    border-right: 4px solid black;
}

.navlink {
    color: white;
}

.top-bar {
    margin: 40px 60px ;
}

.row {
    margin: 20px 0;
}

.project-container {
    padding: 10px;
}

.img-container {

}


/* Media Queries for responsiveness */

@media only screen and (max-width: 766px) {
    .section-title {
        display: block;
        border-right: none;
    }
}  